<div class="jumbotron">
	<h1>Pages#home</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Beck = derp</p>
	<%= link_to "Read News Now!!!", "http://www.cnn.com", class: "btn btn-success btn-lg" %>
</div>